body {
    background-image: url('./webb.png');

}

#model-container {
    height: 400px;
    width: 1000px;
    border: 2px solid #000000;
    background-color: beige;
    margin: auto;
}

#keys {
    width: 1000px;
    border: 2px solid #000000;
    margin: auto;
    border-top-width: 0;
    padding: 1rem;
    background-color: #fff;
}

.key {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
}

.clear, .recovered, .infected {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}

.clear, #key1 {
    background-color: lightblue;
}

.recovered, #key3 {
    background-color: green;
}

.infected, #key2 {
    background-color: palevioletred;
}

table, canvas, p {
    background-color: #fff;
}
